body {
  background-color: #DDD;
  font-family: "Roboto", Helvetica Neue, Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.42857;
}

.App {
  display: flex;
  width: 720px;
  margin: 3rem auto 3rem auto;
}
